- if @assessment.patient.nil?
  = link_to( 'Assign assessment to patient', patient_assessment_assign_path(@patient,@assessment), :method => :put,:class=> "btn btn-primary")
- else
  = link_to( 'Unassign assessment', patient_assessment_unassign_path(@patient,@assessment), :method => :put,:class=> "btn btn-primary")