%h1 Listing assessments

%table{:class => "table table-striped table-bordered" }
  %thead
    %tr
      %th Status
      %th Type
      %th
  %tbody
    - @assessments.each do |assessment|
      %tr
        %td= assessment.status
        %td= assessment.name
        %td= link_to 'Show', assessment

%br