%h1 Unassigned assessments
= render('patients/nav')
- if !@patient.nil?
  =render 'patients/detailed_info'
  - source = unassigned_patient_assessments_url(@patient,format: "json")
- else
  - source = unassigned_assessments_url(format: "json")

%table#assessments{:data => {:source => source}, :class => "table table-striped table-bordered" }
  %thead
    %tr
      %th Surname
      %th Firstname
      %th Gender
      %th DOB
      %th Date of surgery
      %th Surgeon
      %th Anesthetist
      %th Show
      %th Delete
  %tbody
%br
= render('patients/nav')
