%h2 Preoperative summary

%table#summary{:class => "table table-striped table-bordered" }
  %thead
    %tr
      %th Concept
      %th Answer
      %th Details
      %th Author
      %th Date
      %th Source
  %tbody
    - @categories.each do |cat|
      %tr
        %td{:colspan => 6,:class => "category"}
          %h3=cat.summary_display
      - cat.concepts.each do |c|
        - if !@summary[c._id].nil?
          - rowspan = @summary[c._id].size
          - first_row = true
          - @summary[c._id].each do |sum|
            %tr
              -if first_row
                -first_row = false
                %td{:rowspan => rowspan}
                  =c.display_name
              %td
                =sum[:answer].to_s
              %td
                =sum[:details]
              %td
                =sum[:author]
              %td
                =sum[:date]
              %td
                =sum[:assessment_name]
= link_to 'Back', patients_path