%h3 Professionals list
- @professionals.each do |professional|
  %p Professional: #{link_to professional.name + ' | ' + professional.speciality, professional}
= will_paginate
%br
- if can? :create, Professional
  = link_to 'New Professional', new_professional_path
