%p
  Welcome #{@resource.email}!
%p You can setup your password, using the link below:
%p= link_to 'Define my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)