%h3 Home
%br
= link_to('Professional entry',new_user_session_path)
%br
= link_to('Patient entry',patient_assessment_form_path)
%br
TODO What is pre-op.net? About pre-op.net.
%br
TODO Privacy / legal etc
%br

- if user_signed_in?
  %p Loggged in as: #{current_user.name + ' Role: ' +  current_user.user_role}
- elsif patient_signed_in?
  %p Loggged in as patient: #{current_patient.name }