%html
  %head
    %meta{:name => "c923fbd2f5592a094045a0867ff98cfc29534a83", :content => "ddf419e5f9f65b40885664eb7047140f78f51310"}
  
  %body
 

#welcome.hero-unit.centered
  - if (Rails.application.config.environment_type == 'live')
    %h1
      = Rails.application.config.site_url
    %br
    %p
      We help patients and doctors manage information for perioperative care.
      %br
      If your doctor has asked you to come here, please fill out a confidential Pre-op assessment.
  - else
    %h2
      = Rails.application.config.site_url
    %p
      We help patients and doctors manage information for perioperative care.
      %br
      This is a demonstration site only and all data is regularly deleted. Please do not put confidential patient information into the site.
      %br
      You can fill out a Pre-op assessment, just like the one on the live server.  You can sign up with your email address or log in with 
      %br
      Username: demo@pre-op.net
      %br
      Password: demopassword
  %br
  %p
    = link_to('Pre-op assessment',patient_assessment_form_path,:class=> "btn btn-success btn-large")

- if user_signed_in? && !current_user.name.nil?
  %p Logged in as: #{current_user.name + ' Role: ' +  current_user.user_role}