%h3 Home
%br
= link_to('Professional entry',new_user_session_path)
%br
= link_to('Patient entry',patient_assessment_form_path)
%br

- if user_signed_in?
  %p Logged in as: #{current_user.name + ' Role: ' +  current_user.user_role}