%h3 Home
- @users.each do |user|
  %p User: #{link_to user.name + ' | ' + user.user_role, user}

TODO professional entry
TODO patient entry

- if signed_in?
  %p Loggged in as: #{current_user.name + ' Role: ' +  current_user.user_role}
- else
  %p not signed in TODO
