-content_for :content_class do
  privacy

%h1 Privacy Policy
%br
%p
  <a href="http://Pre-op.net">Pre-op.net</a> helps doctors communicate with patients and improve preparation for anesthesia and surgery.
  <a href="http://Pre-op.net">Pre-op.net</a> is committed to protecting your privacy.
%p
  Personal information is collected by <a href="http://Pre-op.net">Pre-op.net</a>, securely stored and shared with your Doctor and your Doctor's authorised staff for the purpose of delivering healthcare.
%h2
  Introduction
%p
  This Privacy Policy governs how <a href="http://Pre-op.net">Pre-op.net</a> collects, uses, maintains and discloses information collected from you, the "User"
  of the publically accessible <a href="http://Pre-op.net">Pre-op.net</a> website ("Site"). The use of the healthcare provider interface is governed
  by a separate Terms of Use for Professionals.
%h2
  How we collect information
%p
  We collect information when you:
  %ul
    %li visit our site;
    %li fill out a form; or
    %li use other resources or features of <a href="http://Pre-op.net">Pre-op.net</a>.
%h2
  Information we collect
%p
  We collect a variety of types of information including:
  %ul
    %li
      <b>Personal identification information</b>: Personal identification information includes your name, email address, mailing address, phone number, Medicare or social security number and other identifying personal information.
    %li
      <b>Health information</b>: Information about your medical conditions and health status.
    %li
      <b>Non-personal identification information</b>:Non-personal identification information may include your IP address, browser version, operating system and similar technical information related to how you accessed our site.
  We do not collect financial information or credit card details.
%h2
  How we store information
%p
  Any information provided to <a href="http://Pre-op.net">Pre-op.net</a> is held with the utmost care and security.
%p
  Industry standard secure data communication and storage practices are observed to protect against unauthorized access, alteration, disclosure or destruction of your information.
%p
  Your personal data is held on secure servers hosted by <a href="http://heroku.com">heroku.com</a>.  Their servers may be located outside your country. Heroku also implements strict security procedures to ensure data security.
  Their security policy can be found at <a href="http://policy.heroku.com/security">policy.heroku.com/security.</a>
%p
  We keep encrypted backups of all data stored by <a href="http://Pre-op.net">Pre-op.net</a>.
  <a href="http://Pre-op.net">Pre-op.net</a> does not keep manual or paper files containing your information.

%h2
  Who can access data your data
%p
  %b Your Doctor can access all your information.
%p
  All information entered by you is shared with the Doctor and their authorised staff.  Only your Doctor and their authorised staff can access your personal information.  The identity and medical registration of Doctors is checked by <a href="http://Pre-op.net">Pre-op.net</a>.
%p
  %b <a href="http://Pre-op.net">Pre-op.net</a> staff may access your information if required.
  <a href="http://Pre-op.net">Pre-op.net</a> staff do not access your personal information unless authorised by your Doctor or you.
  %br
  Your Doctor may ask <a href="http://Pre-op.net">Pre-op.net</a> staff to access your information for the purpose of troubleshooting our service.
  %br
  We may use aggregated anonymous demographic or health information to describe and report usage statistics or for product or business development. This information cannot be used to identify you or any individual.
%b
  %b Third parties cannot access your information
%p
  We do not sell, trade, or rent your information to third parties.

  We do not share personal information with others unless we are required to by law.

  We do not share anonymous information other than the aggregated anonymous information describe above.
%h2 Web browser cookies
%p
  Our Site may use "cookies" which are small pieces of information stored by your web browser.
  Cookies are used to track your session. We do not store personal identification or health information in the cookie.
  Cookies cannot read other data off your hard disk.
  If you prefer not to receive cookies from our website, you can set your browser to warn you before accepting cookies
  and refuse the cookie when your browser alerts you to its presence.
  You can also refuse cookies by turning them off in your browser.
  If you do refuse cookies, some parts of the Site may not function properly.

%h2 What control you have over your information
%p
  We collect your personal identification and health information only if you voluntarily submit it.
  You can refuse to supply information.
%pr
  You can request to see the information held by <a href="http://Pre-op.net">Pre-op.net</a>, a small fee will be payable.
%p
  You may also contact your Doctor to see your medical records.
%h2 Contacting you
%p
  <a href="http://Pre-op.net">Pre-op.net</a> will not contact you unless requested by you. We will not send you promotional materials or advertise to you.
  %br
  Your Doctor may use your information to contact you.
%h2 Changes to this privacy policy
%p
  We may update this privacy policy and post it here.
  This policy will always abide by established Privacy laws and respect your confidentiality.
  
%h2 Limitations of this Privacy Policy
%p
  This Privacy Policy may not anticipate every possible privacy issue but <a href="http://Pre-op.net">Pre-op.net</a> will always remain committed to protecting your privacy.
  
%h2 Your acceptance of the Privacy Policy
%p
  You give your acceptance of this policy by using this site.
  If you do not agree to this policy, please do not use our Site.
%h2 Questions
%p
  <a href="http://Pre-op.net">Pre-op.net</a> is run by Dr David Belavy, an anesthetist in Brisbane, Australia. If you have any questions about this Privacy Policy or the practices of this site
  please contact us using the link above or write to us at:
  %address
    %a{:href => "http://Pre-op.net"} Pre-op.net
    %br
    PO Box 2383
    %br
    Graceville East 4075
    %br
    Australia
  %br
    This document was last updated on September 16, 2012

= link_to 'Home', root_path, {class: "no-print"}