-content_for :content_class do
  privacy

%html
  %head
  
%h1 
  Terms of Service for Clinicians

%h2 
  Summary of Terms of Service
%p
  We only collect the information we need to provide our service.  We don’t share your personal information with anyone.
%p
  We aim to provide a “high availability” service but accept no liability for periods where our service is unavailable.

%h2 
  Acceptance of Terms
%p
  <a href="http://Pre-op.net">Pre-op.net</a> provides the services to you subject to the following Terms of Service (TOS). By accessing and using <a href="http://Pre-op.net">Pre-op.net</a>’s services, you accept the TOS.  Unless explicitly stated otherwise, any new features that augment or enhance the current services shall be subject to the TOS.
%h2 
  <a href="http://Pre-op.net">Pre-op.net</a> Services
%p
  <a href="http://Pre-op.net">Pre-op.net</a> provides Clinicians with a secure means of
  %ul
    %li receiving information entered by patients (“Users”);
    %li storing information; and
    %li displaying aggregated information.
  %p
    These are known as our “services”.
  %p
    <a href="http://Pre-op.net">Pre-op.net</a>’s services may also include communication from <a href="http://Pre-op.net">Pre-op.net</a> such as administrative messages and you may not be able to opt out of receiving these messages.
%h2 
  Your obligations
%p
  By registering to use <a href="http://Pre-op.net">Pre-op.net</a>, you agree to provide true, accurate, current and complete information about yourself as prompted by <a href="http://Pre-op.net">Pre-op.net</a>’s registration procedures.  <a href="http://Pre-op.net">Pre-op.net</a> requires that you demonstrate that you are registered healthcare professional with no limitations on practice.
%p
  If you provide any information that is untrue, inaccurate, not current or incomplete, or we suspect that it is, we have to right to suspend or terminate your account.
%p
  You are responsible for obtaining access to <a href="http://Pre-op.net">Pre-op.net</a> services.  You are responsible for equipment, internet services and fees necessary to access our services.
%p
  You understand that using our Services involves transmission of content over various networks and that <a href="http://Pre-op.net">Pre-op.net</a> may store information internationally.
%p
  You and <a href="http://Pre-op.net">Pre-op.net</a> agree to resolve all disputes and claims between us in arbitration.
%h2 
  Privacy
%p
  This TOS describes the privacy policy for healthcare professionals registered with <a href="http://Pre-op.net">Pre-op.net</a>.  <a href="http://Pre-op.net">Pre-op.net</a> is concerned about the privacy of all its users.  The <a href="http://Pre-op.net">Pre-op.net</a> Privacy Policy describes procedures for handling information collected from Users of the publically accessible site, including the handling of patient’s identification and health information.  By registering to use <a href="http://Pre-op.net">Pre-op.net</a>, you agree to the <a href="http://Pre-op.net">Pre-op.net</a> Privacy Policy.  <a href="http://Pre-op.net">Pre-op.net</a> will collect personal identification and financial information as required to provide our Service only.  <a href="http://Pre-op.net">Pre-op.net</a> will not share your personal identification or financial information with anyone.  <a href="http://Pre-op.net">Pre-op.net</a> may share and publish aggregated usage statistics that do not contain personal identification or financial information.  You agree that <a href="http://Pre-op.net">Pre-op.net</a> may access, preserve and disclose your account information and Information if required to do so by law.
%h2 
  Security
%p
  <a href="http://Pre-op.net">Pre-op.net</a> takes every affordable precaution to protect your information.  Sensitive and confidential information is held by <a href="http://Pre-op.net">Pre-op.net</a> but no system can be guaranteed to be 100% secure. You will receive a username and password upon completing the registration process.  You are responsible for maintaining the confidentiality of the password and account and are fully responsible for all activities that occur under your account.  You agree to immediately notify <a href="http://Pre-op.net">Pre-op.net</a> of any unauthorised use of your password or account or any other breach of security. You agree to ensure that you exit from your account at the end of each session. You will indemnify <a href="http://Pre-op.net">Pre-op.net</a> for any damages resulting from any breach of security, loss or damage arising from your failure to comply with these instructions.
%h2 
  Information storage and ownership
%p
  Your account and your data are held on <a href="http://Pre-op.net">Pre-op.net</a>’s servers, which may be outside your country.  <a href="http://Pre-op.net">Pre-op.net</a> does not claim ownership of information entered by Users.
%p
  <a href="http://Pre-op.net">Pre-op.net</a> has the right to remove information if inaccurate or requested by users.  You will be notified prior to the removal of information.
%h2 
  Information integrity
%p
  You acknowledge that <a href="http://Pre-op.net">Pre-op.net</a> may not screen information entered by users. <a href="http://Pre-op.net">Pre-op.net</a> does not guarantee the accuracy, integrity or quality of information entered into its database by users.  You agree to evaluate all information entered by users and not solely rely on information provided by <a href="http://Pre-op.net">Pre-op.net</a>.  You must bear all risk associated with the use of the information.
%h2 
  Data portability
%p
  Arrangements may be made with <a href="http://Pre-op.net">Pre-op.net</a> for the removal of data from our servers and transfer to an alternative service.  A fee may be charged.
%h2
  Service availability
%p
  <a href="http://Pre-op.net">Pre-op.net</a> is provided on a “as is” and “as available” basis. <a href="http://Pre-op.net">Pre-op.net</a> aims to provide greater than 99% availability.  <a href="http://Pre-op.net">Pre-op.net</a> does not accept liability if our service is unavailable.
-#%h2
-#  Refunds
-#%p
-#  <a href="http://Pre-op.net">Pre-op.net</a> does not routinely provide refunds for unused services.
-#%h2 
-# Suitability for purpose
-#%p
-#  It is your responsibility to evaluate <a href="http://Pre-op.net">Pre-op.net</a>’s service to ensure that it is suitable for your purposes.
%h2 
  Termination
%p
  You may terminate your <a href="http://Pre-op.net">Pre-op.net</a> service at any time.
%p
  <a href="http://Pre-op.net">Pre-op.net</a> may terminate your service for non-payment of fees, breaches of the terms of service, unexpected security issues, fraudulent or illegal use or if required by law or other government agencies.
%h2 
  Cookies, logging and related technologies
%p
  Cookies are files stored locally in your web browser containing identifiable information.  These are used for tracking sessions only and do not contain personally identifiable or financial information.  You may disable cookies on your computer but <a href="http://Pre-op.net">Pre-op.net</a> may not work properly.
%p
  Data about how you use the <a href="http://Pre-op.net">Pre-op.net</a> website may be collected.  This will be used for the improvement of our service only.
%h2 
  Jurisdiction and governing laws
%p
  The jurisdiction and governing laws of Australia apply to <a href="http://Pre-op.net">Pre-op.net</a>.
%h2 
  Limitation of liability
%p
  You understand that <a href="http://Pre-op.net">Pre-op.net</a> will not be liabile for any damages resulting from the inability to use the service or cost of procurement of substitute services.
%p
  <a href="http://Pre-op.net">Pre-op.net</a> accepts no liability for damages if a detailed evaluation of suitability for purpose was not performed.
%p
  <a href="http://Pre-op.net">Pre-op.net</a> will not be liable in any way for any stored information.
%p
  <a href="http://Pre-op.net">Pre-op.net</a> accepts no liability for incidents that occurred more than one year ago.
%h2 
  Communication with <a href="http://Pre-op.net">Pre-op.net</a>
%p
  You can communicate with <a href="http://Pre-op.net">Pre-op.net</a> for the purpose of support and provide feedback and suggestions.  You agree and acknowledge that your communications will not contain confidential patient information. <a href="http://Pre-op.net">Pre-op.net</a> is not under any obligation of confidentiality with respect to the support questions and feedback.
%h2 
  Changes to these Terms of Service
%p
  <a href="http://Pre-op.net">Pre-op.net</a>’s services will continue to improve and evolve. Updates and changes to the terms of service may be required and we will make an effort to notify users of changes.

%h2
  Questions or comments about these Terms of Service

%p Please contact #{link_to 'enquiries@pre-op.net',"mailto:enquiries@pre-op.net"} or
%address
  %a{:href => "http://Pre-op.net"} Pre-op.net
  %br
  PO Box 2383
  %br
  Graceville East 4075
  %br
  Australia
    

= link_to 'Home', root_path, {class: "no-print"}

