%p A new Patient Assessment has been recorded on #{ link_to( 'http://' + Rails.application.config.site_url, 'http://' + Rails.application.config.site_url)}

%br Log in and go to Unassigned Assessments.
