= link_to 'Procedure management' ,patients_path
- if @patient && !@patient._id.nil?
  |
  = link_to 'Patient information' ,@patient
  |
  = link_to 'Pre-op summary', patient_summary_path(@patient)
  |
  = link_to 'Printable summary', show_printable_patient_summary_path(@patient)