=render 'detailed_info'
- if can? :edit, @patient
  = link_to 'Edit patient information', edit_patient_path(@patient)
%h3 Preoperative information
%p
  =link_to('Show Preoperative Summary ',patient_summary_path(@patient))
%p
- if (can? :edit, @patient) && !@patient.patient_assessment_assigned?
  =link_to('Find patient assessment', unassigned_patient_assessments_path(@patient))

%h3 Available Assessments
%p
  TODO Start new assessment [link] - link to a list of available assessments
%p
  - @patient.assessments_to_display.each do |a|
    %li #{link_to (a.summary), patient_assessment_path(@patient, a)}

= link_to 'Back', patients_path


