%h2 Doctor screen
%p
  User: #{@doctor.name}
%p
  Email: #{@doctor.user.email if @doctor.user.email}

TODO Start new or edit preoperative assessments
%br
%br
#{link_to 'New / find patient (professional version)', patients_path}
%br
TODO Review assessments
%br
TODO Edit settings
