/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

@import "bootstrap";

.question_details, textarea.question{
  //@include makeColumn(10);
  width: 90%;
  margin-left: 0;
}

 li {
   list-style: none ;
 }

// print features
table#summary_printed td{
  width: 30%;
}

table#summary {
  h3 {
    font-size: 14px;
    line-height: 150%;
  }
  tr td {
    padding: 3px;
    line-height: 125%;
    font-size: 12px;
  }
}

#main.print {
  table {
    border-width: 0px;
    td{
      padding: 0px;
      border-width: 0px;
      font-size: 12px;
    }
    td.category {
      border-bottom: #555 solid 1px;
    }
  }
  h3{
    font-size: 12px;
    line-height: 150%;
  }
  h3{
    font-size: 12px;
    line-height: 150%;
  }
  h4{
    font-size: 12px;
    line-height: 150%;
  }
  font-size: 12px;
  line-height: 125%;
  li{
    font-size: 14px;
  }
}

@media print{
  .no-print{
     display: none;
  }

}

#welcome {

  h1{
  font-size: 100px
  }
  a{
    font-size: 20px;
  }
}

.centered {
  text-align: center;
}

.privacy{
  h2{
    color: #357ae8;
    font-size: 20px;
  }
}

//td.category h3{
//  text-align: center
//}
//
//tr td.category {
//  background-color: #CFC !important;
//}

