- if (browser.ie6?) ||(browser.ie7?)
  %div{:class => "alert alert-error"}
    We're sorry but your browser will not work properly on this site.
    Please upgrade your browser
- flash.each do |name, msg|
  - if !msg.blank? && msg.is_a?(String)
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)